* {
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
  	scroll-behavior: smooth;
}

/* PAGE: Index */
/* Navbar styles */
.oadh-navbar .ucalogo {
	width: 50px;
	height: 50px;
}

.oadh-navbar .brand {
	color: #eeeeee;
	font-size: 20pt;
	font-weight: 500;
	font-family: 'Archivo Black', sans-serif;
}

.oadh-navbar .brand:hover {
	color: #ffffff;	
}

.oadh-navbar .brand:hover .sun-flower {
	color: #ffffff;	
}

.oadh-navbar .navbar-toggler {
	background: #ffffff;
}

.oadh-navbar .brand .sun-flower {
	color: #2c3e50;
	font-weight: 600;
	font-size: 22pt;
}

.oadh-navbar .bg-oadh {
	background: rgb(0, 22, 70);
}

.oadh-navbar .navbar .collapse .nav-item .nav-link {
	color: #eeeeee;
}

.oadh-navbar .navbar .collapse .nav-item .nav-link:hover {
	color: #eeeeee;
}

/* Banner styles */

.oadh-banner {
	width: 100%;
	background-color: #2c3e50;
}

.oadh-banner .banner-wrapper {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.oadh-banner .banner-wrapper .oadh-website-map {
	margin-top: 5%;
}

.oadh-banner .banner-wrapper .oadh-banner-description {
	z-index: 100;
}

.oadh-banner .banner-wrapper .oadh-banner-description p {
	color: #ffffff;
}

.oadh-banner .banner-wrapper .oadh-banner-description .website-description {
	width: 100%;
	color: #eeeeee;
	font-weight: 600;
}

.oadh-banner .banner-wrapper .oadh-banner-description .btn-welcome {
	color: #ffffff;
	border: 1px solid #2c3e50;
	background-color: rgba(0,0,0,.5);
}

.oadh-banner .banner-wrapper .oadh-banner-description .btn-welcome:hover {
	background-color: #222222;
}

.oadh-services {
	width: 100%;
	height: auto;
	padding: 20px;
	text-align: center;
}

.oadh-services .service-block {
	color: #222222;
	padding: 20px;
}

.oadh-services .service-block i {
	font-size:  2.5em;
}

.oadh-services .service-block .service-name {
	margin: 10px;
	font-size: 12pt;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

.oadh-services .service-block p {
	margin: 20px;
	font-size: 9pt;
	text-align: justify;
}

/* Information block */
.oadh-information-block {
	width: 100%;
	height: auto;
	padding: 25px;
}

.oadh-information-block .oadh-about-us {
	width: 35%;
	padding: 25px;
	font-family: 'Roboto', sans-serif;
}

.oadh-information-block .oadh-about-us .oadh-about-us-title {
	font-weight: 600;
	text-align: center;
}

.oadh-information-block .oadh-about-us .oadh-about-us-description {
	margin-top: 13%;
	font-size: 10pt;
	text-align: justify;
}

.oadh-information-block .oadh-carousel {
	width: 65%;
}

.oadh-newsletter {
	width: 100%;
	height: auto;
	display: flex;
	padding: 25px;
	background: #2c3e50;
	color: #ffffff;
}

.oadh-newsletter .newsletter-container {
	padding: 25px;
}

.oadh-newsletter .newsletter-container i {
	margin: 10%;
	font-size: 3.5em;
}

.oadh-add {
	padding: 100px;
}

.oadh-footer {
	width: 100%;
	height: auto;
	padding: 45px;
	background-color: #222;
	color: #ffffff;
}

.oadh-footer .footer-content {
	margin-top: 30px;
}

/* PAGE: Libertad */
.oadh-liberty-rights {
	width: 100%;
	height: auto;
	margin-top: 8%;
}

.oadh-liberty-rights .oadh-side-menu {
	float: left;
}

.oadh-liberty-rights .oadh-side-menu .menu-title {
	font-size: 12pt;
	text-align: center;
	font-weight: 600;
	padding: 10px 10px;
	margin-bottom: 0px;
	border-left: 2px solid #2c3e50;
	font-family: 'Roboto', sans-serif;
}

.oadh-liberty-rights .oadh-side-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background: #e5e5e5;
}

.oadh-liberty-rights .oadh-side-menu .nav-link {
	font-size: 10pt;
	line-height: 20px;
	color: #222222;
}

.oadh-liberty-rights .oadh-side-menu .nav .active {
	border-left: 2px solid #2c3e50;
}

.oadh-liberty-rights .oadh-side-menu .nav-link:hover {
	border-left: 2px solid #2c3e50;
}

.oadh-liberty-rights .oadh-liberty-rights-container {
	float: right;
	padding: 0 20px;
}

.oadh-liberty-rights .oadh-liberty-rights-container .card-header-description {
	padding-top: 5px;
}

.oadh-liberty-rights .oadh-liberty-container .oadh-m-mode-menu .btn-md-op {
	font-size: 10pt;
	margin: 5px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 5em;
	max-height: 5em;
	white-space: pre-line;
}

.btn-outline-secondary:hover {
	color: #ffffff !important;
}

/* RESPONSIVE */
@media (max-width: 575.98px) { 
	.oadh-navbar .navbar .collapse .nav-menu-right {
		margin-left: 0%;
	}

	.oadh-banner {
		width: 100%;
		height: auto;
		margin-top: 12%
	}

	.oadh-banner .banner-wrapper .oadh-banner-description {
		padding: 5%;
		width: 100%;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description p {
		color: #222222;
		font-weight: 600;
		text-align: center;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .website-description {
		width: 100%;
		font-size: 2em;
		text-align: center;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .btn-welcome {
		width: 100%;
		margin-top: 20px;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .btn-welcome:hover {
		background-color: #222222;
	}

	#map-preview {
		width: 100%;
		height: 350px;
		
		transform: scale(0.5);
		transform-origin: top;
		z-index: 1;
	}

	/* Information block */
	.oadh-information-block .oadh-about-us {
		width: 100%;
	}

	.oadh-information-block .oadh-about-us .oadh-about-us-title {
		font-size: 12pt;
	}

	.oadh-information-block .oadh-carousel {
		width: 100%;
	}

	.oadh-urls {
		font-size: 10pt;
	}

	/* libertad */
	.oadh-liberty-rights .oadh-side-menu {
		width: 0%;
	}

	.oadh-liberty-rights .oadh-liberty-rights-container {
		width: 100%;
		margin-top: 15%;
	}

	.large-mode {
		display: none;
	}

	.medium-mode {
		margin-top: 15%;
		display: block;
	}

	.oadh-liberty-container {
		width: 100%;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.oadh-liberty-rights .oadh-liberty-container .oadh-liberty-rights-card-container {
		padding-top: 10%;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.oadh-navbar .navbar .collapse .nav-menu-right {
		margin-left: 0%;
	}

	.oadh-banner {
		width: 100%;
		height: auto;
		margin-top: 7%
	}

	.oadh-banner .banner-wrapper .oadh-website-map {
		margin-top: 5%;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description {
		width: 100%;
		padding: 10%
	}

	.oadh-banner .banner-wrapper .oadh-banner-description p {
		color: #222222;
		font-weight: 600;
		margin-top: 15px;
		font-size: 1em;
		text-align: center;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .website-description {
		width: 100%;
		font-size: 2em;
		text-align: center;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .btn-welcome {
		width: 100%;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .btn-welcome:hover {
		background-color: #222222;
	}

	#map-preview {
		width: 2600px;
		height: 600px;
		position: relative;
		top: 0%;
		left: 50%;
		margin-left: -1425px;
		margin-bottom: -300px;
		transform: scale(0.5);
		transform-origin: top;
		z-index: 1;
	}

	/* Information block */
	.oadh-information-block .oadh-about-us {
		width: 100%;
	}

	.oadh-information-block .oadh-about-us .oadh-about-us-title {
		font-size: 12pt;
	}

	.oadh-information-block .oadh-carousel {
		width: 100%;
	}

	/* libertad */

	.oadh-liberty-rights .oadh-side-menu {
		width: 0%;
	}

	.oadh-liberty-rights .oadh-liberty-rights-container {
		width: 100%;
		margin-top: 5%;
	}

	.oadh-liberty-rights .oadh-side-menu {
		width: 0%;
	}

	.oadh-liberty-rights .oadh-liberty-rights-container {
		width: 100%;
	}

	.large-mode {
		display: none;
	}

	.medium-mode {
		display: block;
		margin-top: 15%;
	}

	.oadh-liberty-container {
		width: 100%;
    	max-width: 100%;
		margin-left: 0%;
    	margin-right: 0%;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.oadh-liberty-rights .oadh-liberty-container .oadh-liberty-rights-card-container {
		padding-top: 10%;
	}
}

@media (min-width: 725.98px) and (max-width: 991.98px) {
	.oadh-navbar .navbar .collapse .nav-menu-right {
		margin-left: 0%;
	}

	.oadh-banner {
		width: 100%;
		height: 600px;
	}

	.oadh-banner .banner-wrapper .oadh-website-map {
		margin-top: 5%;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description {
		width: 30%;
		z-index: 100;
		margin-top: 20%;
		position: absolute;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description p {
		color: #ffffff;
		font-weight: 600;
		margin-top: 15px;
		text-align: justify;
		font-size: 10pt;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .website-description {
		width: 100%;
		font-size: 1.2em;
		text-align: justify;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .btn-welcome {
		width: 100%;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .btn-welcome:hover {
		background-color: #222222;
	}

	#map-preview {
		width: 2600px;
		height: 600px;
		position: absolute;
		top: 0%;
		left: 50%;
		margin-left: -1300px;
		transform: scale(1.0);
		transform-origin: bottom;
		z-index: 1;
	}

	/* Information block */

	.oadh-information-block .oadh-about-us {
		width: 100%;
	}

	.oadh-information-block .oadh-about-us .oadh-about-us-title {
		font-size: 12pt;
	}

	.oadh-information-block .oadh-carousel {
		width: 100%;
	}

	/* libertad */
	.oadh-liberty-rights .oadh-side-menu {
		width: 0%;
	}

	.oadh-liberty-rights .oadh-liberty-rights-container {
		width: 100%;
		margin-top: 5%;
	}

	.large-mode {
		display: none;
	}

	.medium-mode {
		display: block;
		margin-top: 10%;
	}

	.oadh-liberty-container {
		width: 100%;
		max-width: 100%;
		padding-left: 0px !important;
		padding-right: 0px !important;	
		margin-right: 0px;
		margin-left: 0px;
    	max-width: 100%;
	}

	.oadh-m-mode-menu .btn-outline-dark:hover {
		color: #ffffff !important;
	}

	.oadh-liberty-rights .oadh-liberty-container .oadh-liberty-rights-card-container {
		padding-top: 5%;
	}
}

@media (min-width: 992px) {
	.oadh-navbar .navbar .collapse .nav-menu-right {
		margin-left: 10%;
	}

	.oadh-banner {
		width: 100%;
		height: 600px;
	}

	.oadh-banner .banner-wrapper .oadh-website-map {
		margin-top: 5%;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description {
		width: 30%;
		z-index: 100;
		margin-top: 15%;
		position: absolute;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description p {
		color: #ffffff;
		font-weight: 600;
		margin-top: 15px;
		text-align: justify;
		font-size: 12pt;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .website-description {
		width: 100%;
		font-size: 2.1em;
		text-align: justify;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .btn-welcome {
		width: 100%;
	}

	.oadh-banner .banner-wrapper .oadh-banner-description .btn-welcome:hover {
		background-color: #222222;
	}

	#map-preview {
		width: 2600px;
		height: 600px;
		position: absolute;
		top: 0%;
		left: 45%;
		margin-left: -1300px;
	}

	/* Information block */
	.oadh-information-block {
		display: flex;
		padding: 25px;
	}

	.oadh-information-block .oadh-about-us {
		width: 50%;
	}

	.oadh-information-block .oadh-about-us .oadh-about-us-title {
		font-size: 12pt;
	}

	.oadh-information-block .oadh-carousel {
		width: 50%;
	}

	/* libertad */

	.oadh-liberty-rights .oadh-side-menu {
		width: 23%;
	}

	.oadh-liberty-rights .oadh-liberty-rights-container {
		width: 75%;
	}

	.large-mode {
		display: block;
	}

	.medium-mode {
		display: none;
	}
}